/* App.css */
.app {
  font-family: Arial, sans-serif;
}

.navbar {
  background-color: #333;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-buttons {
  display: flex;
  gap: 10px;
}

.nav-buttons button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 16px;
}

.nav-buttons button:hover {
  background-color: #0056b3;
}

.nav-buttons button:active {
  background-color: #004085;
}

.grievance-indicators {
  display: flex;
  gap: 20px;
  
}

.indicator {
  background-color: #0056b3;
  padding: 10px;
  border-radius: 5px;
}

.nav-buttons button {
  margin-left: 10px;
  padding: 10px 20px;
  background-color: #0056b3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.nav-buttons button:hover {
  background-color: #003f7f;
}

.content {
  padding: 20px;
  height: auto;
  background-color: #c5c2c2;
  border-radius: 10px;
  margin-top: 200px;
}

.grievance-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  
}

.grievance-item {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: white;
  
}

.grievance-item button {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.grievance-item button:hover {
  background-color: #0056b3;
}
